html,
body {
    width: 100%;
}

body {
    background: #dde1e7;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
}

#banner {
    width: 100%;
    height: 80vh;
}

.img-container {
    padding: 0%;
    margin: 0%;
    width: 100%;
}

.event-text-type {
    height: 100vh;
    margin-top: -100vh;
}

.event-text-type h1 {
    font-weight: 700;
    font-size: 2em;
    color: #fff;
    opacity: 1 !important;
}

.Day1 {
    margin: 20px 50px;
    border-radius: 50%;
    background: linear-gradient(145deg, #dde1e7, #ffffff);
    box-shadow: inset 20px 20px 40px #d9d9d9,
        inset -20px -20px 40px #ffffff;
    height: 200px;
    width: 200px;
}

.container {
    width: 100%;
}

.card-container{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards{
    width: 30%;
    margin: 3.3% 1.65%;
    min-width: 250px;
    max-width: 300px;
    border-radius: 15px;
    border: solid #222;
    background: linear-gradient(to top, #fff, #f0f0f0);
}

.card-text{
    min-height: 100px;
}

.cards img{
    width: 100%;
    height: 180px;
    padding: 2.5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-1 {
    flex: 1 1 50px;
}
.card-2{
    flex: 1;
}
.card-3{
    flex: 1;
}